{% extends "base.html" %}

{% block content %}
<h2>User Information</h2>
{% for user in users %}
{{ user.name }}
{{ user.email }}
{{ user.location }}
{{ user.product_id if user.product_id }}
{{ user.service_id if user.service_id }}
{% endfor %}
<!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Location</th>
            <th>Product_id</th>
            <th>Service_id</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.location }}</td>
            <td>{{ user.product_id if user.product_id }}</td>
            <td>{{ user.service_id if user.service_id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->
{% endblock %}