{% extends "base.html" %} {% block title %}Edit artist profile{% endblock %} {% block
content %}

<!-- Form for Artist Table -->
<div>
    <form action="" method="post">
        <!-- WE NEED THIS HIDDEN INPUT FIELDS TO TELL WHAT FORM SUBMITTED THIS-->
        <input type="hidden" name="form_id" value="form1">
        <!-- <label for="artist_user_id">User ID:</label>
        <input type="text" name="artist_user_id" required> -->

        <label for="portfolio_link">Portfolio Link:</label>
        <input type="text" name="portfolio_link">

        <label for="price_lower_bound">Price Lower Bound:</label>
        <input type="text" name="price_lower_bound">

        <label for="price_upper_bound">Price Upper Bound:</label>
        <input type="text" name="price_upper_bound">

        <label for="available_for_hire">Available For Hire: (Type "TRUE" or "FALSE")</label>
        <input type="text" name="available_for_hire">

        <button type="submit">Submit Artist Form</button>
    </form>
</div>
<br>

<!-- Form for Users Table -->
<div>
    <form action="" method="post">
        <input type="hidden" name="form_id" value="form2">
        <label for="user_id">User ID:</label>
        <input type="text" name="user_id">

        <label for="name">Name:</label>
        <input type="text" name="name">

        <label for="location">Location:</label>
        <input type="text" name="location">

        <label for="email">Email:</label>
        <input type="text" name="email">

        <label for="bio">Bio:</label>
        <input type="text" name="bio">
        <!-- <textarea name="bio" required></textarea> -->

        <button type="submit">Submit Users Form</button>
    </form>
</div>
<br>

<div>
    <form action="" method="post">
        <input type="hidden" name="form_id" value="form3">
        <label for="product_id">Product ID:</label>
        <input type="text" name="product_id">

        <label for="medium">Medium:</label>
        <input type="text" name="medium">

        <label for="price">Price:</label>
        <input type="text" name="price">

        <label for="in_stock">In Stock: (type "TRUE" or "FALSE")</label>
        <input type="text" name="inStock">

        <!-- <label for="artist_user_id_poffers">Artist User ID:</label>
        <input type="text" name="user_id_poffers" required> -->

        <button type="submit">Submit POffers_Products Form</button>
    </form>
</div>
<br>

<div>
    <!-- Form for SOffers_Services Table -->
    <form action="" method="post">
        <input type="hidden" name="form_id" value="form4">
        <label for="service_id">Service ID:</label>
        <input type="text" name="service_id">

        <!-- <label for="artist_user_id_soffers">Artist User ID:</label>
        <input type="text" name="user_id_soffers" required> -->

        <label for="service_type">Service Type:</label>
        <input type="text" name="service_type">

        <label for="styles">Styles:</label>
        <input type="text" name="styles">

        <label for="time_needed">Time Needed:</label>
        <input type="text" name="time_needed">

        <label for="price_soffers">Price:</label>
        <input type="text" name="price">

        <button type="submit">Submit SOffers_Services Form</button>
    </form>
</div>
<br>

<!-- Form for has Table -->
<div>
    <form action="" method="post">
        <input type="hidden" name="form_id" value="form5">
        <label for="skill_id">Skill ID:</label>
        <input type="text" name="skill_id">

        <!-- <label for="user_id_has">User ID:</label>
        <input type="text" name="user_id_has" required> -->

        <label for="years">Years:</label>
        <input type="text" name="years">

        <button type="submit">Submit has Form</button>
    </form>
</div>
<br>
{% endblock %}